<% include ../partial/atas %>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">


<script src="/adapter/tbl.js"></script>


<div class="box box-primary">
<div class="box-header with-border">
      <table id="Table" class="display">
      <thead>
      	<tr>
      		 <th>ID</th>
           <th>SITE</th>
           <th>TANGGAL</th>
           <th>TEMP</th>
           <th>DOOR</th>
           <th>AC/PWR</th>
           <th>FUEL</th>
                  
        </tr>
      
      </thead>
       <tbody><% for (var i=0;i < log.length; i++){   %>
        <tr>
        <td><%= log[i].id %></td>
        <td><%= log[i].site %></td>
        <td><%= log[i].tanggal %></td>
        <td><%= log[i].temp %></td>
        <td><%= log[i].door %></td>
        <td><%= log[i].acpwr %></td>
        <td><%= log[i].FUEL %></td>
          <% } %>
        </tr>
      </tbody>
  	  </table>
</div>
</div>
</div>
</div>




<% include ../partial/bawah %>
