<% include ../partial/atas %>
<script src="/adapter/jquery.js"></script>
<script src="/adapter/socket.io.js"></script>
<script src="/adapter/adapter.js"></script>
<section class="content" id="table">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Monitoring</h3>
            </div>
            <!-- /.box-header -->
            <div class="table">
              <table class="table table-bordered" >
                

                 <% var arrdata = ['CLOSE','OPEN']; %>
                 <% for (var i=0;i<data.length;i++){ %>
     
                 <tbody>
                <tr bgcolor="#B2ABA9">
                  <th style="text-align: center;">STATUS</th>
                  <th style="text-align: center;">NAMA SITE</th>
                  <th style="text-align: center;">TIME</th>
                  <th style="text-align: center;">TEMP(C)</th>
                  <th style="text-align: center;">HUM</th>
                  <th style="text-align: center;">DOOR</th>
                  <th style="text-align: center;">VPR(V)</th>
                  <th style="text-align: center;">VPS(V)</th>
                  <th style="text-align: center;">VPT(V)</th>
                  <th style="text-align: center;">Vaccu(DCV)</th>
                  <th style="text-align: center;">Vrectf(DCV)</th>
                  <th style="text-align: center;">Ir(A)</th>
                  <td style="text-align: center;">Is(A)</th>

                 </tr>
                       
                 <tr>                      
                  <td style="vertical-align: middle;" rowspan="3"></td>
                  <td style="vertical-align: middle;" rowspan="3"><b><%= data[i].site %></b></td>
                  <td style="vertical-align: middle;" rowspan="3"><b><%= data[i].tanggal %></b></td>
                  <td style="text-align: center;"><%= data[i].temp %></td>
                  <td style="text-align: center;"><%= data[i].hum %></td>
                  <td style="text-align: center;"><%= arrdata[data[i].door] %></td>
                  <td style="text-align: center;"><%= data[i].acpwr %></td>
                  <td style="text-align: center;"><%= data[i].VPS %></td>
                  <td style="text-align: center;"><%= data[i].VPT %></td>
                  <td style="text-align: center;"><%= data[i].Vaccu %></td>
                  <td style="text-align: center;"><%= data[i].Vrectf %></td>
                  <td style="text-align: center;"><%= data[i].Ir %></td>
                  <td style="text-align: center;"><%= data[i].Is %></td>
                </tr>

                
                  <tr bgcolor="#B2ABA9">
                  <th style="text-align: center;">It(A)</th>
                  <th style="text-align: center;">FUEL</th>
                  <th style="text-align: center;">G_ON</th>
                  <th style="text-align: center;">G_FAIL</th>
                  <th style="text-align: center;">DoorRectf</th>
                  <th style="text-align: center;">DoorGen</th>
                  <th style="text-align: center;">ARRESTER</th>
                  <th style="text-align: center;">Brectf</th>
                  <th style="text-align: center;">MCB Trip</th>
                  <th style="text-align: center;"></th>
            
                </tr>
                <tr>      
                  <td style="text-align: center;"><%= data[i].It %></td>
                  <td style="text-align: center;"><%= data[i].FUEL %></td>
                  <td style="text-align: center;"><%= data[i].GON %></td>
                  <td style="text-align: center;"><%= data[i].GFAIL %></td>
                  <td style="text-align: center;"><%= data[i].DRectf %></td>
                  <td style="text-align: center;"><%= data[i].DGen %></td>
                  <td style="text-align: center;"><%= data[i].ARRSTER %></td>
                  <td style="text-align: center;"><%= data[i].Brectf %></td>
                  <td style="text-align: center;"><%= data[i].MCBTrip %></td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    
  
    


<% include ../partial/bawah %>
