<% include ../partial/atas %>
<script src="/adapter/jquery.js"></script>
<script src="/adapter/adapter.js"></script>
<script src="/adapter/socket.io.js"></script>

<section class="content" id="table">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Monitoring</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered" >
                <thead>
                <tr>
                  <th style="text-align: center;">STATUS</th>
                  <th style="text-align: center;">TIME</th>
                  <th style="text-align: center;">SITE</th>
                  <th style="text-align: center;">TEMP (Celcius)</th>
                  <th style="text-align: center;">HUM</th>
                  <th style="text-align: center;">DOOR</th>
                  <th style="text-align: center;">AC PWR (Volt)</th>
                </tr>
              </thead>
      <% var arrdata = ['CLOSE','OPEN']; %>
      
      <% for (var i=0; i<data.length;i++){ %>

               <tbody >
                <tr >
                <th style="text-align: center;"><%= data[i].id %></th>
                  <th style="text-align: center;"><%= data[i].tanggal %></th>
                  <th  style="text-align: center;"><%= data[i].site %></th>
                  <th style="text-align: center;"><%= data[i].temp %></th>
                  <th style="text-align: center;"><%= data[i].hum %></th>
                  <th style="text-align: center;"><%= arrdata[data[i].door] %></th>
                  <th style="text-align: center;"><%= data[i].acpwr %></th>
                </tr>
              </tbody>
            <% } %>
            </table>
          </div>
        </div>
      </div>
    </div>
    

    </p>
<% include ../partial/bawah %>
